<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Blogs Site</title>
    <link rel="stylesheet" href="./blogs.css" />
  </head>
  <body>
    <div>
      <h1>Here are your favourite topics</h1>
    </div>

    <div id="blogs">
      <% blogs.forEach(element => { %>
      <div id="single_blog">
        <div id="topics">Topic: <%= element.topic %></div>
        <div id="content"><%= element.content %></div>
        <div id="authors">Author: <%= element.author %></div>
      </div>
      <% }) %>
    </div>
    <h1></h1>
  </body>
</html>
